VITE_API_URL=http://localhost:8000

VITE_AUTH_ENABLED=true

VITE_KEYCLOAK_URL=http://keycloak.hrafnar-nebari-dev.openteams.app/

VITE_KEYCLOAK_REALM=nebari

VITE_KEYCLOAK_CLIENT_ID=hrafnar-hrafnar-nebariapp

